.skills-pg {
  height: 100%;

  &_bg {
    img {
      opacity: 0.19;
      border-radius: 50%;
      width: 100%;
      height: 100vh;
      box-shadow: 0 4px 8px rgb(255 255 255 / 8%),
        0 4px 12px rgb(255 255 255 / 24%);
      position: fixed;
      z-index: -1;
    }
  }

  &_rightSec-bg {
    position: fixed;
    top: 0;
    height: 100%;

    img {
      width: 100%;
      height: inherit;
      object-fit: contain;
    }
  }



  .row {
    width: 100%;
    height: 100%;

    .col-lg-5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .skill {
      &_progress {
        margin-top: 15px;
        color: #6e6e6e;
        font-size: 18px;
        margin-bottom: 32px;

        &-name {
          color: #0f172a;
        }

        &-rate {
          float: right;
        }

        &-img {
          width: 28px;
          height: 28px;
          margin-bottom: 5px;
        }
      }
    }


  }



}